{% extends 'base.html' %}
{% load static %}

{% block body %}

    <h3>Adicionar Endereço</h3>
    <a href="{% url 'checkout' %}">Retornar para a compra</a>

    <h3>Adicione outro endereço</h3>
    <form method="POST" action="{% url 'adicionar_endereco' %}">
        {% csrf_token %}
        <input type="text" name="cidade" placeholder="Cidade"><br>
        <input type="text" name="estado" placeholder="Estado"><br>
        <input type="text" name="rua" placeholder="Rua"><br>
        <input type="number" name="numero" placeholder="Número"><br>
        <input type="text" name="complemento" placeholder="Complemento"><br>
        <input type="number" name="cep" placeholder="CEP"><br>
        <button type="submit">Adicionar Endereço</button>
        <br>
    </form>

    <form method="POST" action="{% url 'remover_endereco' %}">
        {% csrf_token %}
        <button type="submit">Remover Endereço</button>
    </form>

{% endblock %}