{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/carrinho.css' %}">
    <div class="carrinho-container">
        <h3>Carrinho</h3>

        {% if cliente_existente %}

            <div class="pedido-info">
                <h4>Numero Pedido: {{pedido.id}}</h4>
                <p>Preço Total do Pedido: <strong>R${{pedido.preco_total}}</strong></p>
                <p>Total de Produtos: {{pedido.quantidade_total}}</p>
            </div>

            <hr>

            <div class="itens-carrinho">
                {% for item in itens_pedido %}
                    <div class="item-carrinho">
                        <div class="item-imagem">
                            <img src="{{ item.item_estoque.produto.imagem.url }}" alt="{{ item.item_estoque.produto.nome }}" width="120" height="180">
                        </div>
                        <div class="item-descricao">
                            <p>Produto: {{item.item_estoque.produto.nome}}</p>
                            <p>Cor: {{item.item_estoque.cor}}</p>
                            <p>Modelo: {{item.item_estoque.modelo}}</p>

                            <div class="quantidade-preco">
                                <div class="quantidade">
                                    Quantidade: 
                                    <form method="POST" action="{% url 'remover_carrinho' item.item_estoque.produto.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="modelo" value="{{item.item_estoque.modelo}}">
                                        <input type="hidden" name="cor" value="{{item.item_estoque.cor.id}}">
                                        <button type="submit">-</button>
                                    </form>
                                    {{item.quantidade}} 
                                    <form method="POST" action="{% url 'adicionar_carrinho' item.item_estoque.produto.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="modelo" value="{{item.item_estoque.modelo}}">
                                        <input type="hidden" name="cor" value="{{item.item_estoque.cor.id}}">
                                        <button type="submit">+</button>
                                    </form>
                                </div>
                                <p>Preço Unitário: <strong>R${{item.item_estoque.produto.preco}}</strong></p>
                                <p>Total: <strong>R${{item.preco_total}}</strong></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>

            <div class="checkout">
                <a href="" class="btn-checkout">Checkout</a>
                <!-- <a href="{% url 'checkout' %}" class="btn-checkout">Checkout</a> -->
            </div>

        {% else %}

            <h3>Seu carrinho está vazio</h3>
            <a href="{% url 'loja' %}" class="btn-voltar">Visite nossa loja</a>

        {% endif %}
    </div>
{% endblock %}
