{% load static %}

<nav>
    <a href="{% url 'homepage' %}">Pear Tech</a> <!-- Em "{ url ' ' }", o que ficará entre ''-->
    <a href="{% url 'loja' %}">Loja</a>
    <div>
        {% for categoria in categorias_navegacao %}
            <a href="{% url 'loja' %}{{categoria.slug}}">{{categoria.nome}}:</a>
            <br>
            {% for tipo in tipos_navegacao %}
                {% if tipo.categoria == categoria%}
                    <a href="{% url 'loja' %}{{categoria.slug}}-{{tipo.slug}}">{{tipo.nome}}</a>
                {% endif %}
            {% endfor %}
            <br>
            <br>
        {% endfor %}
    </div>

    {% if not request.user.is_authenticated %} <!--Se o usuário NÃO estiver logado no site: -->
    <a href="{% url 'fazer_login' %}">Login</a>        
    {% else %} <!--Se o usuário estiver logado no site: -->
    <a href="{% url 'minha_conta' %}">Minha Conta</a>
    {% endif %}
    
    <a href="{% url 'carrinho' %}">Carrinho</a>
    <img src="{% static 'images/icone_carrinho.png' %}" width="30" height="30">
    {{quantidade_produtos_carrinho}}
    
    <hr>
    

</nav>