{% extends 'base.html' %}
{% load static %}

{% block body %}

<h3>{{ produto.nome }}</h3>

{% if tem_estoque %}

<img src="{{ produto.imagem.url }}" width="330" height="490">
<p>Produto: {{ produto.nome }}</p>
<p>Preço: {{ produto.preco }}</p>

{% for cor in cores %}
{{ cor.nome }}
<i class="fa-solid fa-square" style="color: {{cor.codigo}}"></i>
{% endfor %}
<button>Adicionar ao Carrinho</button>

{% else %}

<p>Produto fora de estoque</p>

{% endif %}

<!-- <div style="width: 100%; height: 100%; position: relative; background: white"></div>
    <div style="width: 1441px; height: 589px; left: -1px; top: 1911px; position: absolute">
        <div style="width: 1441px; height: 499px; left: 0px; top: 90px; position: absolute; background: #F0F0F0"></div>
        <div style="width: 1240px; height: 0px; left: 101px; top: 457px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="width: 1240px; height: 180px; padding-left: 64px; padding-right: 64px; padding-top: 36px; padding-bottom: 36px; left: 101px; top: 0px; position: absolute; background: black; border-radius: 20px; overflow: hidden; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="width: 551px; height: 94px; color: white; font-size: 40px; font-family: Integral CF; font-weight: 700; line-height: 45px; word-wrap: break-word">STAY UPTO DATE ABOUT OUR LATEST OFFERS</div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
                <div style="width: 349px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 62px; overflow: hidden; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.25px; height: 15.75px; left: 1.88px; top: 4.12px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
                    </div>
                    <div style="color: rgba(0, 0, 0, 0.40); font-size: 16px; font-family: Satoshi; font-weight: 400; word-wrap: break-word">Enter your email address</div>
                </div>
                <div style="width: 349px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
                    <div style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">Subscribe to Newsletter</div>
                </div>
            </div>
        </div>
        <div style="width: 1240px; height: 243px; left: 101px; top: 230px; position: absolute; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 35px; display: inline-flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: flex">
                    <img style="width: 103px; height: 89px" src="https://via.placeholder.com/103x89" />
                    <div style="width: 248px; color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">We have clothes that suits your style and which you’re proud to wear. From women to men.</div>
                </div>
                <div style="width: 148px; height: 28px; position: relative">
                    <div style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
                        <div style="width: 11.17px; height: 9.03px; left: 9.03px; top: 9.94px; position: absolute; background: black"></div>
                    </div>
                    <div style="width: 28px; height: 28px; left: 40px; top: 0px; position: absolute">
                        <div style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 9999px"></div>
                        <div style="width: 6.32px; height: 12.17px; left: 10.84px; top: 8.13px; position: absolute; background: white"></div>
                    </div>
                    <div style="width: 28px; height: 28px; left: 80px; top: 0px; position: absolute">
                        <div style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
                        <div style="width: 13.55px; height: 13.55px; left: 7.23px; top: 7.23px; position: absolute">
                            <div style="width: 13.55px; height: 13.55px; left: 0px; top: 0px; position: absolute; background: black"></div>
                            <div style="width: 6.96px; height: 6.96px; left: 3.30px; top: 3.30px; position: absolute; background: black"></div>
                            <div style="width: 1.63px; height: 1.63px; left: 9.58px; top: 2.35px; position: absolute; background: black"></div>
                        </div>
                    </div>
                    <div style="width: 28px; height: 28px; left: 120px; top: 0px; position: absolute">
                        <div style="width: 28px; height: 28px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
                        <div style="width: 12.96px; height: 12.65px; left: 8.13px; top: 7.23px; position: absolute; background: black"></div>
                    </div>
                </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
                <div style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 500; text-transform: uppercase; line-height: 18px; letter-spacing: 3px; word-wrap: break-word">Company</div>
                <div style="color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 19px; word-wrap: break-word">About          <br/><br/>Features          <br/><br/>Works          <br/><br/>Career  </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
                <div style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 500; text-transform: uppercase; line-height: 18px; letter-spacing: 3px; word-wrap: break-word">Help</div>
                <div style="color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 19px; word-wrap: break-word">Customer Support<br/><br/>Delivery Details<br/><br/>Terms & Conditions<br/><br/>Privacy Policy</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
                <div style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 500; text-transform: uppercase; line-height: 18px; letter-spacing: 3px; word-wrap: break-word">FAQ</div>
                <div style="width: 149px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 19px; word-wrap: break-word">Account<br/><br/>Manage Deliveries<br/><br/>Orders<br/><br/>Payments</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 26px; display: inline-flex">
                <div style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 500; text-transform: uppercase; line-height: 18px; letter-spacing: 3px; word-wrap: break-word">Resources</div>
                <div style="color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 19px; word-wrap: break-word">Free eBooks<br/><br/>Development Tutorial<br/><br/>How to - Blog<br/><br/>Youtube Playlist</div>
            </div>
        </div>
        <div style="width: 281.07px; height: 30.03px; left: 1060px; top: 477px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 12px; display: inline-flex">
            <div style="width: 46.61px; height: 30.03px; position: relative; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid">
                <div style="width: 32.54px; height: 10.51px; left: 6.91px; top: 9.94px; position: absolute; background: #1434CB"></div>
            </div>
            <div style="width: 46.61px; height: 30.03px; position: relative; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid">
                <div style="width: 25.38px; height: 15.69px; left: 10.53px; top: 7.17px; position: absolute"></div>
            </div>
            <div style="width: 46.61px; height: 30.03px; position: relative; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid">
                <div style="width: 34.55px; height: 9.21px; left: 6.05px; top: 10.65px; position: absolute"></div>
            </div>
            <div style="width: 46.61px; height: 30.03px; position: relative; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid">
                <div style="width: 26.41px; height: 11.21px; left: 10.08px; top: 9.64px; position: absolute; background: #000008"></div>
            </div>
            <div style="width: 46.61px; height: 30.03px; position: relative; background: white; box-shadow: 0px 0.4482142925262451px 4.482142925262451px rgba(183, 183, 183, 0.08); border-radius: 5.38px; border: 0.22px #D6DCE5 solid">
                <div style="width: 28.56px; height: 11.21px; left: 8.96px; top: 9.86px; position: absolute"></div>
            </div>
        </div>
        <div style="left: 101px; top: 482px; position: absolute; text-align: right; color: rgba(0, 0, 0, 0.60); font-size: 14px; font-family: Satoshi; font-weight: 400; word-wrap: break-word">Shop.co © 2000-2023, All Rights Reserved</div>
    </div>
    <div style="width: 763px; height: 89px; left: 628px; top: 15px; position: absolute">
        <div style="width: 50px; height: 50px; left: 713px; top: 20px; position: absolute">
            <div style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute">
                <div style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute"></div>
                <div style="width: 41.67px; height: 41.67px; left: 4.17px; top: 4.17px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="width: 56px; height: 59px; padding: 8px; left: 607px; top: 15px; position: absolute; background: white; border-radius: 99px"></div>
        <div style="width: 39px; height: 41px; left: 663px; top: 24px; position: absolute; background: black"></div>
        <img style="width: 103px; height: 89px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/103x89" />
    </div>
    <div style="width: 1293px; height: 636px; left: 70px; top: 89px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(255, 255, 255, 0.10) solid">
        <div style="width: 428px; height: 532px; left: 181px; top: 52px; position: absolute; background: #F0EEED; border-radius: 8.66px; overflow: hidden">
            <img style="width: 218px; height: 281px; left: 38px; top: 62px; position: absolute" src="https://via.placeholder.com/218x281" />
            <img style="width: 368px; height: 449px; left: 23px; top: 42px; position: absolute" src="https://via.placeholder.com/368x449" />
        </div>
        <div style="width: 159px; height: 172px; padding-top: 17px; padding-bottom: 17px; padding-left: 25px; padding-right: 26px; left: 5px; top: 234px; position: absolute; background: #F0EEED; border-radius: 8.66px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 108px; height: 138px" src="https://via.placeholder.com/108x138" />
        </div>
        <div style="width: 159px; height: 172px; padding-top: 17px; padding-bottom: 17px; padding-left: 25px; padding-right: 26px; left: 5px; top: 415px; position: absolute; background: #F0EEED; border-radius: 8.66px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 108px; height: 138px" src="https://via.placeholder.com/108x138" />
        </div>
        <div style="width: 159px; height: 172px; padding-top: 17px; padding-bottom: 17px; padding-left: 25px; padding-right: 26px; left: 5px; top: 52px; position: absolute; background: #F0EEED; border-radius: 8.66px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 108px; height: 138px" src="https://via.placeholder.com/108x138" />
        </div>
        <div style="left: 633px; top: 277px; position: absolute; color: black; font-size: 12px; font-family: Arial; font-weight: 400; word-wrap: break-word">Cor</div>
        <div style="left: 632px; top: 388px; position: absolute; color: black; font-size: 12px; font-family: Arial; font-weight: 400; word-wrap: break-word">Armazenamento</div>
        <div style="left: 651px; top: 182px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: 700; word-wrap: break-word">R$ 4.999,00</div>
        <div style="left: 630px; top: 57px; position: absolute; color: black; font-size: 40px; font-family: Arial; font-weight: 700; word-wrap: break-word">iPhone 13 Pro Max</div>
        <div style="left: 630px; top: 107px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 7.10px; display: inline-flex">
            <div style="width: 11.75px; height: 22.35px; background: #FFC633"></div>
        </div>
        <div style="left: 785px; top: 108.36px; position: absolute"><span style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 400; word-wrap: break-word">4.5/</span><span style="color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; word-wrap: break-word">5</span></div>
        <div style="width: 600px; height: 48px; left: 637px; top: 114px; position: absolute"></div>
        <div style="left: 659px; top: 432px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
            <div style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #F0F0F0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: flex">
                <div style="color: black; font-size: 12px; font-family: Arial; font-weight: 700; word-wrap: break-word">128GB</div>
            </div>
            <div style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: black; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: flex">
                <div style="color: white; font-size: 12px; font-family: Arial; font-weight: 700; word-wrap: break-word">256GB</div>
            </div>
            <div style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #F0F0F0; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: flex">
                <div style="color: black; font-size: 12px; font-family: Arial; font-weight: 700; word-wrap: break-word">1TB</div>
            </div>
        </div>
        <div style="width: 400px; height: 52px; padding-left: 54px; padding-right: 54px; padding-top: 16px; padding-bottom: 16px; left: 849px; top: 526px; position: absolute; background: black; border-radius: 62px; overflow: hidden; justify-content: center; align-items: center; gap: 12px; display: inline-flex">
            <div style="color: white; font-size: 20px; font-family: Arial; font-weight: 400; word-wrap: break-word">Add Carrinho</div>
        </div>
        <div style="width: 170px; height: 52px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; left: 659px; top: 526px; position: absolute; background: #F0F0F0; border-radius: 62px; overflow: hidden; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative">
                <div style="width: 18.75px; height: 2.25px; left: 2.62px; top: 10.88px; position: absolute; background: black"></div>
            </div>
            <div style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">1</div>
            <div style="width: 24px; height: 24px; position: relative">
                <div style="width: 18.75px; height: 18.75px; left: 2.62px; top: 2.62px; position: absolute; background: black"></div>
            </div>
        </div>
        <div style="width: 152px; height: 168px; left: 9px; top: 229px; position: absolute; border-radius: 20px"></div>
        <div style="width: 616.50px; height: 0px; left: 632.50px; top: 268.50px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="width: 617px; height: 0px; left: 632px; top: 381px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="width: 617.50px; height: 0px; left: 631.50px; top: 501.50px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="left: 659px; top: 320px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
            <div style="width: 37px; height: 37px; background: #4F4631; border-radius: 9999px"></div>
            <div style="width: 37px; height: 37px; background: #314F4A; border-radius: 9999px"></div>
            <div style="width: 37px; height: 37px; background: #31344F; border-radius: 9999px"></div>
        </div>
        <div style="width: 12.34px; height: 7.74px; left: 685.87px; top: 271.99px; position: absolute; background: white"></div>
        <div style="width: 16px; height: 16px; left: 722px; top: 331px; position: absolute">
            <div style="width: 13px; height: 9.50px; left: 1.75px; top: 3.75px; position: absolute; background: white"></div>
        </div>
    </div>
    <div style="width: 1293px; height: 1013px; left: 49px; top: 784px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid">
        <div style="left: 585px; top: 23px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: 700; word-wrap: break-word">Avaliações</div>
        <div style="left: 141px; top: 23px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: 400; word-wrap: break-word">Especificações</div>
        <div style="left: 1029px; top: 23px; position: absolute; color: black; font-size: 20px; font-family: Arial; font-weight: 400; word-wrap: break-word">FAQs</div>
        <div style="width: 1240px; height: 0px; left: 27px; top: 58px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
        <div style="width: 414px; height: 0px; left: 440px; top: 58px; position: absolute; border: 2px black solid"></div>
        <div style="left: 913px; top: 82px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <div style="width: 48px; height: 48px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: #F0F0F0; border-radius: 62px; overflow: hidden; justify-content: space-between; align-items: center; display: flex">
                <div style="width: 24px; height: 24px; position: relative">
                    <div style="width: 20.25px; height: 18.75px; left: 1.88px; top: 2.62px; position: absolute; background: black"></div>
                </div>
            </div>
            <div style="width: 120px; height: 48px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: #F0F0F0; border-radius: 62px; overflow: hidden; justify-content: space-between; align-items: center; display: flex">
                <div style="color: black; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">Latest</div>
                <div style="width: 16px; height: 16px; position: relative">
                    <div style="width: 11.50px; height: 6.50px; left: 2.25px; top: 5.25px; position: absolute; background: black"></div>
                </div>
            </div>
            <div style="width: 166px; height: 48px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: black; border-radius: 62px; overflow: hidden; justify-content: space-between; align-items: center; display: flex">
                <div style="color: white; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">Write a Review</div>
            </div>
        </div>
        <div style="left: 27px; top: 90px; position: absolute; color: black; font-size: 24px; font-family: Satoshi; font-weight: 700; word-wrap: break-word">All Reviews</div>
        <div style="left: 160px; top: 104px; position: absolute; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">(451)</div>
        <div style="width: 610px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 27px; top: 154px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
            <div style="flex: 1 1 0; height: 139.58px; justify-content: space-between; align-items: flex-start; display: flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex">
                        <div style="width: 10.74px; height: 20.42px; background: #FFC633"></div>
                    </div>
                    <div style="align-self: stretch; height: 102px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                            <div style="color: black; font-size: 20px; font-family: Satoshi; font-weight: 700; line-height: 22px; word-wrap: break-word">Samantha D.</div>
                            <div style="width: 24px; height: 24px; position: relative">
                                <div style="width: 19.50px; height: 19.50px; left: 2.25px; top: 2.25px; position: absolute; background: #01AB31"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">"I absolutely love this t-shirt! The design is unique and the fabric feels so comfortable. As a fellow designer, I appreciate the attention to detail. It's become my favorite go-to shirt."</div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.25px; height: 5.25px; left: 1.87px; top: 9.38px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
                    </div>
                </div>
            </div>
            <div style="width: 546px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 500; line-height: 22px; word-wrap: break-word">Posted on August 14, 2023</div>
        </div>
        <div style="width: 610px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 657px; top: 154px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
            <div style="flex: 1 1 0; height: 139.58px; justify-content: space-between; align-items: flex-start; display: flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
                    <div style="align-self: stretch; height: 102px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                            <div style="color: black; font-size: 20px; font-family: Satoshi; font-weight: 700; line-height: 22px; word-wrap: break-word">Alex M.</div>
                            <div style="width: 24px; height: 24px; position: relative">
                                <div style="width: 19.50px; height: 19.50px; left: 2.25px; top: 2.25px; position: absolute; background: #01AB31"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">"The t-shirt exceeded my expectations! The colors are vibrant and the print quality is top-notch. Being a UI/UX designer myself, I'm quite picky about aesthetics, and this t-shirt definitely gets a thumbs up from me."</div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.25px; height: 5.25px; left: 1.87px; top: 9.38px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
                    </div>
                </div>
            </div>
            <div style="width: 546px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 500; line-height: 22px; word-wrap: break-word">Posted on August 15, 2023</div>
        </div>
        <div style="width: 610px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 27px; top: 416px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
            <div style="flex: 1 1 0; height: 139.58px; justify-content: space-between; align-items: flex-start; display: flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex">
                        <div style="width: 10.74px; height: 20.42px; background: #FFC633"></div>
                    </div>
                    <div style="align-self: stretch; height: 102px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                            <div style="color: black; font-size: 20px; font-family: Satoshi; font-weight: 700; line-height: 22px; word-wrap: break-word">Ethan R.</div>
                            <div style="width: 24px; height: 24px; position: relative">
                                <div style="width: 19.50px; height: 19.50px; left: 2.25px; top: 2.25px; position: absolute; background: #01AB31"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">"This t-shirt is a must-have for anyone who appreciates good design. The minimalistic yet stylish pattern caught my eye, and the fit is perfect. I can see the designer's touch in every aspect of this shirt."</div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.25px; height: 5.25px; left: 1.87px; top: 9.38px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
                    </div>
                </div>
            </div>
            <div style="width: 546px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 500; line-height: 22px; word-wrap: break-word">Posted on August 16, 2023</div>
        </div>
        <div style="width: 610px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 657px; top: 416px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
            <div style="flex: 1 1 0; height: 139.58px; justify-content: space-between; align-items: flex-start; display: flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
                    <div style="align-self: stretch; height: 102px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                            <div style="color: black; font-size: 20px; font-family: Satoshi; font-weight: 700; line-height: 22px; word-wrap: break-word">Olivia P.</div>
                            <div style="width: 24px; height: 24px; position: relative">
                                <div style="width: 19.50px; height: 19.50px; left: 2.25px; top: 2.25px; position: absolute; background: #01AB31"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">"As a UI/UX enthusiast, I value simplicity and functionality. This t-shirt not only represents those principles but also feels great to wear. It's evident that the designer poured their creativity into making this t-shirt stand out."</div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.25px; height: 5.25px; left: 1.87px; top: 9.38px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
                    </div>
                </div>
            </div>
            <div style="width: 546px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 500; line-height: 22px; word-wrap: break-word">Posted on August 17, 2023</div>
        </div>
        <div style="width: 610px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 27px; top: 678px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
            <div style="flex: 1 1 0; height: 139.58px; justify-content: space-between; align-items: flex-start; display: flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex"></div>
                    <div style="align-self: stretch; height: 102px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                            <div style="color: black; font-size: 20px; font-family: Satoshi; font-weight: 700; line-height: 22px; word-wrap: break-word">Liam K.</div>
                            <div style="width: 24px; height: 24px; position: relative">
                                <div style="width: 19.50px; height: 19.50px; left: 2.25px; top: 2.25px; position: absolute; background: #01AB31"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">"This t-shirt is a fusion of comfort and creativity. The fabric is soft, and the design speaks volumes about the designer's skill. It's like wearing a piece of art that reflects my passion for both design and fashion."</div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.25px; height: 5.25px; left: 1.87px; top: 9.38px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
                    </div>
                </div>
            </div>
            <div style="width: 546px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 500; line-height: 22px; word-wrap: break-word">Posted on August 18, 2023</div>
        </div>
        <div style="width: 610px; padding-left: 32px; padding-right: 32px; padding-top: 28px; padding-bottom: 28px; left: 657px; top: 678px; position: absolute; border-radius: 20px; overflow: hidden; border: 1px rgba(0, 0, 0, 0.10) solid; justify-content: flex-start; align-items: flex-start; gap: 342px; display: inline-flex">
            <div style="flex: 1 1 0; height: 139.58px; justify-content: space-between; align-items: flex-start; display: flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 6.49px; display: inline-flex">
                        <div style="width: 10.74px; height: 20.42px; background: #FFC633"></div>
                    </div>
                    <div style="align-self: stretch; height: 102px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                        <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                            <div style="color: black; font-size: 20px; font-family: Satoshi; font-weight: 700; line-height: 22px; word-wrap: break-word">Ava H.</div>
                            <div style="width: 24px; height: 24px; position: relative">
                                <div style="width: 19.50px; height: 19.50px; left: 2.25px; top: 2.25px; position: absolute; background: #01AB31"></div>
                            </div>
                        </div>
                        <div style="align-self: stretch; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 400; line-height: 22px; word-wrap: break-word">"I'm not just wearing a t-shirt; I'm wearing a piece of design philosophy. The intricate details and thoughtful layout of the design make this shirt a conversation starter."</div>
                    </div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.25px; height: 5.25px; left: 1.87px; top: 9.38px; position: absolute; background: rgba(0, 0, 0, 0.40)"></div>
                    </div>
                </div>
            </div>
            <div style="width: 546px; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Satoshi; font-weight: 500; line-height: 22px; word-wrap: break-word">Posted on August 19, 2023</div>
        </div>
    </div>
</div> -->

{% endblock %}