/* Estilização Geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.loja-container {
    max-width: 1450px;
    margin: 1px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 40px;
}

/* Layout principal */
.loja-content {
    display: flex;
    gap: 40px;
}

/* Sidebar de Filtros */
.filters-sidebar {
    width: 280px;
}

.filter-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.filter-form h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.filter-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #555;
}

.filter-group input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.checkbox-group input[type="radio"] {
    margin-right: 10px;
}

.apply-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #000102;
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
}

/* Ordenação */
.sort-options {
    margin-bottom: 20px;
}

.sort-options span {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.sort-options ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.sort-options li {
    display: inline;
}

.item-ordenar {
    text-decoration: none;
    color: #020a13;
    font-size: 14px;
    transition: color 0.3s ease;
}

.item-ordenar:hover,
.item-ordenar.active {
    color: #010c17;
    font-weight: bold;
}

/* Produtos */
.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    justify-content: flex-start; /* Alinha os cards à esquerda */
}

.produto-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Ajuste responsivo */
    max-width: 300px; /* Limita a largura máxima do card */
}

.produto-card:hover {
    transform: translateY(-5px);
}

.produto-card img {
    max-width: 190%;
    height: 325px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}

.produto-card h3 {
    font-size: 16px;
    color: #353;
    margin: 10px 0;
}

.produto-card .preco {
    font-size: 16px;
    color: #010509;
    font-weight: bold;
    margin-top: 8px;
}