{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/criarconta.css' %}">
<div class="criar-conta-container">
    <h3>Crie sua conta</h3>

    {% if erro == "email_invalido" %}
        <p class="erro">Email inválido.</p>
    {% endif %}

    {% if erro == "usuario_existente" %}
        <p class="erro">Usuário já existente com este email. Faça <a href="{% url 'fazer_login' %}">Login</a></p>
    {% endif %}

    {% if erro == "senhas_diferentes" %}
        <p class="erro">Senhas diferentes. Tente novamente.</p>
    {% endif %}

    {% if erro == "preenchimento" %}
        <p class="erro">Preencha todas as informações corretamente para criar uma conta.</p>
    {% endif %}

    <form method="POST" action="{% url 'criar_conta' %}" class="form-criar-conta">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="senha" placeholder="Senha" required><br>
        <input type="password" name="confirmacao_senha" placeholder="Confirmação da Senha" required><br>
        <button type="submit" class="botao-criar">Criar conta</button>
    </form>

    <p class="login-link">Já tem uma conta? <a href="{% url 'fazer_login' %}">Fazer login</a></p>
</div>

{% endblock %}
